<!DOCTYPE html>
<html>
  <head>
    <title><%= eventData.event_name %></title>
    <meta name="description" content="<%= eventData.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%= eventData.event_name %>" />
    <meta property="og:description" content="<%= eventData.description %>" />
    <meta property="og:url" content="https://wrestlingvideos.live/events/<%= eventData.event_id %>" />
    <meta property="og:site_name" content="Watch Wrestling Online" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap-4.0.0-dist/css/bootstrap.min.css" />
  </head>
  <body>
    <section class="wrapper">
      <div class="container-fostrap">
          <div>
              <img src="<%= eventData.banner_link %>" alt="Banner Image not found." style="width: 50%; height: 200px;"/>
              <br>
              <br>
              <h1 class="heading">
                  <%= eventData.event_name %>
              </h1>
          </div>
          <div class="content">
              <div class="container">
                <% if ("DM1" in eventData.all_links && eventData.all_links.DM1.length > 0) { %>
                  <h2>
                    DailyMotion Links - Set 1<sup>**</sup>
                  </h2>
                  <div>
                  <% for(var i=0; i < eventData.all_links.DM1.length; i++) { %>
                      <a href="<%= eventData.all_links.DM1[i] %>" class="stream-link btn btn-primary">
                        Part <%= i+1 %>
                      </a>
                  <% } %>
                  </div>
                <% } %>
                <br>
                <% if ("DM2" in eventData.all_links && eventData.all_links.DM2.length > 0) { %>
                  <h2>
                    DailyMotion Links - Set 2
                  </h2>
                  <div>
                  <% for(var i=0; i < eventData.all_links.DM2.length; i++) { %>
                      <a href="<%= eventData.all_links.DM2[i] %>" class="stream-link btn btn-primary">
                        Part <%= i+1 %>
                      </a>
                  <% } %>
                  </div>
                <% } %>
                <br>
                <% if ("DM3" in eventData.all_links && eventData.all_links.DM3.length > 0) { %>
                  <h2>
                    DailyMotion Links - Set 3
                  </h2>
                  <div>
                  <% for(var i=0; i < eventData.all_links.DM3.length; i++) { %>
                      <a href="<%= eventData.all_links.DM3[i] %>" class="stream-link btn btn-primary">
                        Part <%= i+1 %>
                      </a>
                  <% } %>
                  </div>
                <% } %>
              </div>
          </div>
          <div class="ad-free-suggestion">
            <p><b><i><sup>**</sup>For a good ad-free experience, watch on Chrome browser under Incognito mode.</i></b></p>
          </div>
      </div>
  </section>
  <hr>
  <footer>
    <div>For any issues in page or to provide support, please reach out to below email.</div>
    <p><a href="mailto:anurag273003@gmail.com">anurag273003@gmail.com</a></p>
  </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <script>
      function getStreamParams(link) {
        var params = {
          "vid_link": link
        }
        var esc = encodeURIComponent;
        var query = Object.keys(params)
            .map(k => esc(k) + '=' + esc(params[k]))
            .join('&');
        return query;
      }

      var link_tags = document.querySelectorAll(".stream-link")
      for (var i = 0; i < link_tags.length; i++) {
        link_tags[i].addEventListener('click', function (event) {
          // Do something before following the link 
          // Get url from the target element (<a>) href attribute
          var video_link = event.target.href;
          var link = "/watch/?" + getStreamParams(video_link);

          // Open the url in the current window. Set to "_blank" instead of "_self" to open in a new window.
          window.open(link, '_blank');

          // Prevent default action (e.g. following the link)
          event.preventDefault();
        });
      }
      
    </script>
  </body>
</html>
