<!DOCTYPE html>
<html>
  <head>
    <title>All Wrestling</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Watch Wrestling Online Watch WWE Raw online, Watch WWE smackdown Live to watch wrestling in NXT, live PPV free Dailymotion">
    <link rel="canonical" href="https://wrestlingvideos.live/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Watch Wrestling Videos Live" />
    <meta property="og:description" content="Watch Wrestling Online Watch WWE Raw online, Watch WWE smackdown Live to watch wrestling in NXT, live PPV free Dailymotion" />
    <meta property="og:url" content="https://wrestlingvideos.live/" />
    <meta property="og:site_name" content="Watch Wrestling Videos Live" />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap-4.0.0-dist/css/bootstrap.min.css" />

    <link rel='dns-prefetch' href='//platform-api.sharethis.com' />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel='dns-prefetch' href='//fonts.gstatic.com' />
    <link rel='dns-prefetch' href='//ajax.googleapis.com' />
    <link rel='dns-prefetch' href='//apis.google.com' />
    <link rel='dns-prefetch' href='//google-analytics.com' />
    <link rel='dns-prefetch' href='//www.google-analytics.com' />
    <link rel='dns-prefetch' href='//ssl.google-analytics.com' />
    <link rel='dns-prefetch' href='//youtube.com' />
    <link rel='dns-prefetch' href='//s.gravatar.com' />
    <link rel='dns-prefetch' href='//count-server.sharethis.com' />
    <link rel='dns-prefetch' href='//buttons-config.sharethis.com' />
    <link rel='preconnect' href='//www.google-analytics.com' />
  </head>
  <body>
    <section class="wrapper">
      <div class="container-fostrap">
          <div>
              <img class="main-banner" src="/images/banner.jpg" style="width: 1000px; height: 200px;"/>
              <h1 class="heading">
                  WWE Videos
              </h1>
          </div>
          <div class="content">
              <div class="container">
                  <div class="row">
                    <% for(var i=0; i < data.length; i++) { %>
                      <div class="col-xs-12 col-sm-4">
                          <div class="card">
                              <a class="img-card" href="/events/<%= data[i].event_id %>" target="_blank">
                              <img src="<%= data[i].banner_link %>" />
                              </a>
                              <div class="card-content">
                                  <h4 class="card-title">
                                      <a href="/events/<%= data[i].event_id %>" target="_blank"> <%= data[i].event_name %>
                                    </a>
                                  </h4>
                                  <p>
                                    Date: <%= data[i].event_date %>
                                  </p>
                              </div>
                              <div class="card-read-more">
                                  <a href="/events/<%= data[i].event_id %>" class="btn btn-link btn-block" target="_blank">
                                      Watch Now
                                  </a>
                              </div>
                          </div>
                      </div>
                    <% } %>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <hr>
  <footer>
    <div>For any issues in page or to provide support, please reach out to below email.</div>
    <p><a href="mailto:anurag273003@gmail.com">anurag273003@gmail.com</a></p>
  </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
  </body>
  <script>
    $( ".main-banner" ).each( function() {
      var $img = $( this );
      $img.width( $img.width() * .5 );
    });
  </script>
</html>
